/** ProximaNova Regular **/
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-regular.eot');
	src: local('☺'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
