@import 'fonts';
@import 'layout';

.cover {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main {
  position: fixed;
  text-align: center;
  
  @extend .cover;
  
  .shadow {
    position: absolute;
    @extend .cover;
    background: #0c7bf8 url('../img/main-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    z-index: 0;
  }
  .lines {
    position: absolute;
    @extend .cover;
    z-index: 1;
    
    .line {
      transition: all .3s ease-out;
      &.left,
      &.right,
      &.top,
      &.bottom {
        position: absolute;
      }
      &.left,
      &.right {
        top: 50%;
        margin-top: -1px;
        width: 0;
        height: 2px;
        background-color: rgba(255,255,255,.3);
        
        @media (min-width: $screen-xs-max) {
          width: 9%;
        }
        @media (min-width: $screen-sm-max) {
          width: 12%;
        }
        @media (min-width: $screen-md-max) {
          width: 15%;
        }
      }
      &.left {
        left: 0;
        .dot {
          right: 0;
          @media (min-width: $screen-xs-max) {
            right: 0;
          }
          @media (min-width: $screen-sm-max) {
            right: 50%;
          }
        }
        .dot + .dot { right: 0; }
      }
      &.right {
        right: 0;
        .dot {
          left: 0;
          @media (min-width: $screen-xs-max) {
            left: 0;
          }
          @media (min-width: $screen-sm-max) {
            left: 50%;
          }
        }
        .dot + .dot { left: 0; }
      }
      &.top,
      &.bottom {
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 13%;
      }
      &.top {
        top: 0;
        .cross { bottom: 0; }
      }
      &.bottom {
        bottom: 0;
        .cross { top: 0; }
      }
      .cross {
        position: absolute;
        font-size: 22px;
        font-style: normal;
        color: white;
      }
      .dot {
        position: absolute;
        top: -4px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 10px;
      }
    }
  }
  .box {
    display: table;
    width: 100%;
    height: 100%;
    
    .item {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.first {
  .description {
    margin: 0 auto;
    width: 80%;
  }
}
.section { display: none; }
.title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  
  @media (min-width: $screen-xs-max) {
    font-size: 30px;
  }
}

.actions {
  margin-top: 80px;
}

.video {
  display: none;
  
  .player {
    margin-bottom: 2em;

    iframe {
      width: 300px;
      height: 169px;
      
      @media (min-width: $screen-xs-max) {
        width: 740px;
        height: 416px;
      }

      @media (min-width: $screen-sm-max) {
        width: 960px;
        height: 540px;
      }
    }
  }
  &.active {
    display: block;
  }
}

.answers {
  margin: 2em 0;
  padding-left: 0;
  list-style: none;
  > li {
    margin: 0 0 1em;
  }
}